body{
  background-image: url(background_index.PNG);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  height: 90vh;
}

.PL_data{
  display: flex;
  justify-content: center;
  height: 10vh;
  text-align: center;
}

.name_b{
  line-height: 1;
  background-color: grey;
  display: flex;
  align-items: center;
  text-align: center;
  height: 10vh;
  width: 60vw;
  padding: 1vh 5vw 1vh 5vw;
}

.last_login_b{
  display: flex;
  align-items: center;
  background-color: grey;
  width: 20vw;
  height: 10vh;
  padding: 1vh 1vw 1vh 1vh;
}

.pl_name{
  font-size: 10vw;
  text-align: center;
}

.last_login{
  font-size: 4vw;
  text-align: center;
}


