body{
    background-color: #d2b48c
    opacity: 0.8;
    background-image: url(background_index.PNG);
    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    height: 90vh;
}

.field{
    display: flex;
    justify-content: center;
}

h1{
    background-color: green;
    opacity: 0.9;
    text-align: center;
}

h2{
    background-color: green;
    opacity: 0.9;
    text-align: center;
}

.card{
    background-color: grey;
    opacity: 0.9;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-align: center;
    border-radius: 50%;
}

.part{
    background-color: darkgrey;
    color: darkgrey;
    opacity: 0;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-align: center;
    border-radius: 50%;
}
