body{
  background-image: url(background_index.PNG);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  height: 90vh;
}

.PL_data{
  display: flex;
  justify-content: center;
  height: 10vh;
  text-align: center;
}

.last_login{
  background-color: grey;
  height: 10vh;
}
