body{
    background-color: #d2b48c
    background-image: url(background_index.jpg);
    background-size: cover;
    opacity: 0.8;
}

.field{
    display: flex;
    justify-content: center;
}


.card{
    background-color: grey;
    opacity: 0.2;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-align: center;
    border-radius: 50%;
}

.part{
    background-color: darkgrey;
    color: darkgrey;
    opacity: 0;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-align: center;
    border-radius: 50%;
}
