body{
  background-image: url(background_index.png);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  height: 90vh;
}

.PL_data{
  display: flex;
  justify-content: center;
  height: 15vh;
  background-color: grey;
  text-align: center;
}
