body{
  background-image: url(background_index.PNG);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  height: 90vh;
}

.PL_data{
  display: flex;
  justify-content: center;
  height: 10vh;
  text-align: center;
}

.name{
  background-color: grey;
  align-items: center;
  hright: 10vh;
  width: 80vw;
  font-size: 10vw;
}

.last_login{
  align-items: center;
  background-color: grey;
  width: 10vw;
  height: 10vh;
  font-size: 1vw;
}
